# Python EinfÃ¼hrung
erster Teil

In [1]:
2 + 2

4

In [2]:
print("moin")

moin

In [3]:
x = 2
y = 3
x + y

5

In [4]:
# string
text = "Library Carpentry"
# integer
number = 42
# float
pi_value = 3.141

In [5]:
4 * 5

20

In [6]:
3 > 4

False

In [7]:
5 == 5

True

In [8]:
my_numbers = [1, 2, 3]

In [9]:
my_numbers[0]

1

In [10]:
my_new_numbers = ["eins", 2, "drei"]

In [11]:
my_new_numbers[2]

'drei'

In [12]:
len(my_new_numbers)

3

In [13]:
my_name = "Claudia"
len(my_name)

7

In [14]:
my_name.upper()

'CLAUDIA'

In [15]:
my_name_capital = my_name.upper()

In [16]:
my_name_capital.lower()

'claudia'

In [17]:
my_name_capital?

In [18]:
my_name_capital.lower()

'claudia'

In [19]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    print(number)

1
2
3

In [20]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    number_plus_one = number + 1
    print("these are all my numbers")
    print(number_plus_one)
print("our loop finished")

these are all my numbers
2
these are all my numbers
3
these are all my numbers
4
our loop finished

In [21]:
authors_and_books = {"Darwin" : "Species",
                     "Jemison" : "Wind",
                     "Lindgren" : "Lotta zieht um"}

In [22]:
authors_and_books["Darwin"]

'Species'

In [23]:
authors_and_books["Lindgren"]

'Lotta zieht um'

In [24]:
def sub_function(a, b):
    result = a - b
    return result

In [25]:
sub_function(5, 3)

2

In [26]:
my_result = sub_function (9999, 1000)

In [27]:
print(my_result)

8999

In [28]:
temp = 10
if temp > 20:
    print("Es ist warm!")
elif temp < 5:
    print("Es ist kalt!")
else:
    print("Es ist mild.")

Es ist mild.